<!DOCTYPE html>
<html>
<head>
    <title>Cevap</title>
    <script>
        function playAudio() {
            var audio = document.getElementById("audio");
            audio.play();
        }
    </script>
</head>
<body>
    <h1>Cevap</h1>
    <p>{{ response }}</p>
    {% block content %}
        <audio id="audio" src="{{ sayit(text=response, lang='tr')|replace('%5C', '/')}}"></audio>
        <button onclick="playAudio()">Oku</button>
    {% endblock %}
</body>
</html>
